.container{
    text-align: center;
    margin: auto;
}

.logo{
    width: 85px;
    margin: 68px;
}

.text{
    width: 60%;
    margin: auto;
    text-align: center;
    margin-bottom: 60px;
}

.bottom{
    background-image: url("/images/about-image.jpg");
    background-size: cover;
    padding: 16pt;
}

.date{
    margin: 50px;
    font-size: 38pt;
}

.title{
    margin: 50px;
    font-size: 34pt;
    font-weight: 900;
}

.detail{
    margin: 50px;
    font-size: 23pt;
}

@media (max-width: 768px) {
    .text{
        width: 95%;
    }
}